html {
     background-color: #F0F8FF;
}
body {
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 1.5em auto;
    padding: 1.5em;
    background-color: white;
    color: #000000;
    max-width: 30em;
    border: 0.75em solid #87CEFA;
    line-height: 1.5em;
}
p {
    margin: 1.5em 0;
   
}
h1 {
	
	text-align: center;
    background-color: #0000CD;
    color: #ffffff;
    font-size: 210%;
    padding: 1em;
    margin: 
}

h2 {
	text-align: left;
	font-size: 130%;
	color: #4169E1;
	text-align: center;
}

label {
	display : block;

}



nav {
	font-size: 120%;
	text-align: center;
}

input {
	color: #191970;
	
}

#range {
    -webkit-appearance: slider-horizontal;
    width: 150px;
    height: 5px;
}

legend {
	text-align: center;
	font-size: 130%;
	font-weight: bold;
	color: #4169E1;
}

fieldset {
	margin: .2em 0;
}

form {


}